# Игнорируем виртуальное окружение
env/

# Лог-файлы
*.log

# Кеш Django
__pycache__/

# Генерируемые файлы
*.sqlite3

# Пароли и секреты
.env
secrets.json

# Временные файлы
tmp/*
*.tmp

# Другие файлы
.idea/
.DS_Store
Thumbs.db
__pycache__/
env/
