{% extends 'inventory/base.html' %}

{% block content %}
<div class="container">
    <h2>Список заказов</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Номер заказа</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Статус</th>
                <th scope="col">Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.placed_at }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.total_amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
